<div>

  <h1 class="text-2xl font-bold mb-4">Users Management</h1>

  <!-- FILTER -->
  <div class="mb-4">
    <select [(ngModel)]="searchRole" (change)="onRoleChange()"
      class="p-2 rounded bg-white/5 border border-white/10 text-white">
      <option value="" class="text-blue-950">All Roles</option>
      <option value="Admin" class="text-blue-950">Admin</option>
      <option value="Leader" class="text-blue-950">Leader</option>
      <option value="Employee" class="text-blue-950">Employee</option>
    </select>
  </div>

  <!-- LOADING -->
  <div *ngIf="loading" class="flex justify-center py-10">
    <div class="w-10 h-10 border-4 border-blue-500 border-t-transparent rounded-full animate-spin"></div>
  </div>

  <!-- ➕ CREATE USER BUTTON -->
  <button (click)="openCreateForm()" class="fixed bottom-6 right-6 w-14 h-14 rounded-full bg-blue-600 hover:bg-blue-700
         text-2xl font-bold shadow-lg">
    +
  </button>

  <div class="flex justify-end items-center mb-4 gap-2">

    <span class="text-sm text-gray-400">Per page:</span>

    <select [(ngModel)]="pageSize" (change)="onPageSizeChange(pageSize)" class="bg-black/30 text-white px-4 py-2 rounded-lg border border-white/10
           focus:outline-none focus:ring-2 focus:ring-blue-500">

      <option *ngFor="let size of pageSizes" [value]="size" class="text-blue-900">
        {{ size }}
      </option>

    </select>

  </div>

  <!-- TABLE -->
  <div *ngIf="!loading && users().length > 0 " class="overflow-x-auto bg-white/5 rounded-xl border border-white/10">

    <table class="w-full text-left">

      <thead class="bg-white/10">
        <tr>
          <th class="p-3">Username</th>
          <th class="p-3">Email</th>
          <th class="p-3">Phone Number</th>
          <th class="p-3">Role</th>
          <th class="p-3 text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users(); trackBy: trackByUserId" class="border-t border-white/10 hover:bg-white/5">

          <td class="p-3">{{ user.userName }}</td>
          <td class="p-3">{{ user.email }}</td>
          <td class="p-3">{{ user.phoneNumber }}</td>
          <td class="p-3 text-blue-400">{{ user.role || 'No Role'}}</td>
          <td class="p-3 text-center relative">

            <!-- 3 dots button -->
            <button (click)="toggleMenu(user)" class="text-white text-xl">
              ⋮
            </button>

            <!-- dropdown -->
            <div *ngIf="user.showMenu"
              class="absolute right-2 mt-2 w-32 bg-[#0f172a] border border-white/10 rounded-lg shadow-lg z-50">

              <button (click)="openEditForm(user)" class="block w-full text-left px-4 py-2 hover:bg-white/10">
                Edit
              </button>

              <button (click)="deleteUser(user)"
                class="block w-full text-left px-4 py-2 text-red-400 hover:bg-red-500/20">
                Delete
              </button>

            </div>
          </td>

        </tr>
      </tbody>

    </table>

  </div>

  <!-- EMPTY -->
  <div *ngIf="!loading && users().length === 0" class="text-center py-10 text-gray-400">
    No users found
  </div>
  <!-- PAGINATION -->
  <div class="flex flex-col items-center gap-4 mt-6">

    <app-pagination [pageNumber]="pageNumber" [totalPages]="totalPages" (pageChange)="onPageChange($event)">
    </app-pagination>

  </div>

  <!-- CREATE USER MODAL -->
  <div *ngIf="showForm" class="fixed inset-0 bg-black/60 flex items-center justify-center z-50">
    <div class="bg-[#0f172a] border border-white/10 p-6 rounded-2xl w-96">
      <h2 class="text-xl font-bold mb-4 text-center">
        {{ isEditMode ? 'Edit User' : 'Create User' }}
      </h2>
      <!-- UserName -->
      <input [(ngModel)]="form.userName" placeholder="Username"
        class="w-full p-3 mb-3 rounded bg-black/30 border border-white/10" />

      <!-- Email -->
      <div class="mb-3">

        <!-- CREATE MODE -->
        <input *ngIf="!isEditMode" [(ngModel)]="form.email" placeholder="Email" type="email" class="w-full p-3 rounded bg-black/30 border border-white/10 text-white
           focus:outline-none focus:ring-2 focus:ring-blue-500" />

        <!-- EDIT MODE -->
        <div *ngIf="isEditMode" class="p-3 rounded bg-black/20 border border-white/10 text-gray-300">

          {{ form.email }}
          <span class="text-xs text-gray-500 block">
            Email cannot be changed
          </span>

        </div>

      </div>
      <!-- Password -->
      <input *ngIf="!isEditMode" [(ngModel)]="form.password" placeholder="Password" type="password"
        class="w-full p-3 mb-3 rounded bg-black/30 border border-white/10" />
      <!-- Phone Number -->
      <input [(ngModel)]="form.phoneNumber" placeholder="PhoneNumber" type="tel"
        class="w-full p-3 mb-3 rounded bg-black/30 border border-white/10" />
      <!-- Role -->
      <div *ngIf="!isEditMode" class="flex justify-center">
        <select [(ngModel)]="form.role" class="w-full text-center p-3 mb-3 rounded
           bg-black/50 border border-white/10 text-white
           focus:outline-none focus:ring-2 focus:ring-blue-500">

          <option value="" disabled selected class="text-white bg-[#0b1f3a]">
            Select Role
          </option>

          <option *ngFor="let role of roles" [value]="role" class="text-white bg-[#0b1f3a]">
            {{ role }}
          </option>

        </select>
      </div>
      <!-- Actions -->
      <button (click)="submitForm()" class="w-full py-2 rounded-lg"
        [ngClass]="isEditMode ? 'bg-yellow-500 hover:bg-yellow-600' : 'bg-blue-600 hover:bg-blue-700'">

        {{ isEditMode ? 'Update' : 'Create' }}

      </button>
      <button (click)="closeForm()" class="w-full mt-2 text-gray-300 text-sm">
        Cancel
      </button>

    </div>

  </div>
